*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
:root{
    --color-01:#F8A764;
    --color-01-hover:#f59444;
    --color-02:#F5E0A5;
    --color-03:#1C5841;
    --color-04:#00AD6E;
    --color-05:#D46240;
    --font-01:#FFFFFF;
    --font-02:#16120D;
    --btn-alerta:#8D2000;
}
/* Seções ------------------------------------ */
section{
    margin:3rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section h1{
    font-size: clamp(1.5rem, 5vw, 2rem);
}
.container-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:20px;
    margin:20px 0;
}
.container-img{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:4rem;
    margin-left:0px;
    padding:10px;
    gap: 2.5rem;
}
.imgEdit{
    width: clamp(150px, 20vw, 180px);
    height: clamp(150px, 20vw, 180px);
    border-radius: 50%;
    background-color: #29292969;
}  
.container-inputs{
    width: 100%;
}
.container-input-1{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
    margin-top:20px;
}
.container-input-2{
    margin-top: 1.5rem ;
    display: grid;
    grid-template-columns: auto;
    gap: 1.5rem;
}
.container-atualizar{
    margin: 1.5rem 0;
    display: flex;
    justify-content: end;
}
.container-deletar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--color-05);
    padding:1rem;
    border-radius:10px;
    color:var(--font-01);
    gap:2rem;
    margin-top:30px;
}
input[type="file"]{
    display:none;
}
/* Estilo geral dos botões da página --------------*/
.btns{
    border:none;
    background-color: var(--color-03);
    border-radius:10px;
    padding:0.5rem 1rem;
    color:var(--font-01);
    cursor: pointer;
    font-size:.9rem;
    box-shadow: 0px 0px 8px -5px #000;
}
.btns:hover{
    background-color: var(--color-04);
}
.btn-deletar{
    background-color: var(--btn-alerta);
}

/* container-perfil------------------------------- */

.container-perfil{
    display: flex;
    flex-direction: column;
}
.container-perfil h1{
    font-size: 2rem;
    border-bottom: 2px solid black;
    margin-top: 2rem;
}
.container-sobre-mim, .container-medicamento, .container-preferencias, .container-especializacoes, .container-horario-atendimento{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}
.container-sobre-mim span, .container-medicamento span, .container-preferencias span,  .container-especializacoes span, .container-horario-atendimento span{
    opacity: 50%;
    font-size:.85rem;
}

.container-sobre-mim textarea, .container-medicamento textarea, .container-preferencias textarea{
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}
.container-sobre-mim textarea:focus, .container-medicamento textarea:focus, .container-preferencias textarea:focus, .container-sobre-mim textarea:focus, .container-agendamento>:focus{
    outline: 0;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}








/* pop-ups------------------------------------ */
.pop-up-deletar{
    display:none;
    width:100%;
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    background-color: #35353570;
    backdrop-filter: blur(4px);
    z-index: 6;
    overflow: hidden;
}
.pop-up-deletar div{
   position: absolute; 
   background-color: var(--font-01);
   width:600px;
   padding: 3rem;
   display: flex;
   flex-direction: column;
   border-radius: 34px;
   align-items: center;
   box-shadow: 0px 0px 30px -5px #3a3a3a;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   gap: 10px;
   z-index: 7;
}

.btn-cancelar-pop-up-deletar{
    position: absolute;
    width: 100%;
    right: 0.5rem;
    top: 0.5rem;
    background: none;
    outline:none;
}
.btn-cancelar-pop-up-deletar:hover{
    cursor: pointer;
}
.img-pop-up-deletar{
    width: 20px;
    filter: invert();
    margin: 0.5rem;
}
.pop-up-deletar button{
    width: max-content;
    border: none;
}


/* Responsividade -------------------------- */
@media(max-width:800px){
    .container-section{
        flex-direction: column;
        margin: 1.5rem;
    }
    .container-img{
        margin: auto;
    }
    .container-input-1{
        grid-template-columns: auto;
    }
    .container-atualizar{
        justify-content: center;
    }
    .container-deletar{
        flex-direction: column;
        margin: 1.5rem;
        align-items: center;
    }
    .pop-up-deletar div{
        width:80%;
    }
}