*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
:root{
    --color-01:#F8A764;
    --color-01-hover:#f59444;
    --color-02:#F5E0A5;
    --color-03:#1C5841;
    --color-04:#00AD6E;
    --color-05:#D46240;
    --font-01:#FFFFFF;
    --font-02:#16120D;
    --btn-alerta:#8D2000;
}
/* Search bar section -------------- */
.grid-container{
    margin:20px 30px;
}
.grid-psi, .search-boxes{
    display: flex;
    width:100%;
}
.grid-psi{
    padding-bottom:30px;
    border-bottom: 1px solid #000;
}
.search-boxes{
    flex-direction: row;
    justify-items:space-between;
    gap:20px;
    position: relative;
}
.search-boxes input{
    width:100%;
    padding:0.5rem 1rem;
    border-radius:10px;
    padding-right: 2.5rem;
}
.btn-searchBar img{
    width:40px;
    height:40px;
    object-fit:cover;
    padding:.6rem;
    background-color: var(--color-03);
    border-radius:10px;
    cursor: pointer;
}
.btn-searchBar{
    border:none;
}

/* Filtro --------------------------- */
.hm-btn-buscar {
    position: absolute;
    font-size: medium;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    justify-self: center;
    border: none;
    color: var(--font-01);
    width: 100%;
    background-color: #1C5841;
    transition: background-color 0.1s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.hm-btn-buscar:hover {
    background-color: var(--color-04);
    transition: background-color 0.25s;
}
.row{
    justify-content: center;
}
.hm-btn-ver {
    position: relative;
    font-family: 'poppins';
    font-size: medium;
    font-weight: bold;
    padding: 0.5em 2.5em;
    margin: 0.2em;
    border-radius: 0.4em;
    border: none;
    outline: none;
    color: white;
    background-color: #D46240;
    transition: background-color 0.8s;
    cursor: pointer;
    transform: translate(0,0) scale(1);
    transition: transform 0.1s;
    box-shadow: 0px 1px 2px #b4650b;
}

.hm-btn-ver:hover {
    background-color: #ffb758;
    transition: background-color 0.29s;
    transform: translate(1px, -1px) scale(1.02);
    transition: transform 0.1s;
}


.hm-psi-stats {
    position: relative;
    font-family: 'poppins';
    font-size: medium;
    padding: 0.2em 0.2em;
    margin: 0.2em;
    border-radius: 0.4em;
    border: none;
    outline: none;
    color: white;
    background-color: #2c8f6e;
    transition: background-color 0.5s;
    flex-grow: 1;
    cursor: pointer;

    transform: translate(0px, 0px) scale(1.0);
    transition: transform 0.1s;
    box-shadow: 0px 1px 2px #144416;
}
.hm-psi-stats:hover{   
    box-shadow: 0px 2px 4px #3b443e;
    transform: translate(1px, -1px) scale(1.02);
    transition: transform 0.1s;
    transition: box-shadow 0.1s
    
}
.checkbox{
    position: absolute;
    width: 100%;
    background: #1C5841;
    display: flex;
    flex-direction: column;
    top: 80%;
    left:4.8%;
    margin: 0.25em;
    gap: 10px;
    display: none;
    padding:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#filtro-checkbox {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    display: block;
    cursor: pointer;
}
#filtro-checkbox.show {
    transform: scaleY(1);
    opacity: 1;
}
#seta-checkbox {
    filter: invert();
    transition: transform 0.3s ease;
}
.checkbox-input input{
    display: none;
    cursor: pointer;
}
.checkbox-input input + label:before{
    content: '';
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: 0;
    right: 3%;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 2px solid #58ffc2;
}
.checkbox-input input:checked + label:before{
    background-color: #58ffc2;
    transition: 80ms;
    scale: 1.17;
}
.checkbox-input{
    background: #1C5841;
    cursor: pointer;
}
.titulo-checkbox{
    font-size: 80%;
    padding: 0.5rem;
    margin: 0;
    color: #ffffff;
    font-family: 'poppins';
    width: 100%;
    cursor: pointer;

}

/* Cards de psicologos ----------------- */
.card-psi{
    display: block;
    align-self: center;
    border-radius: 2em;
    margin: 2%;
    width: 30rem;
    height: 100%;
    background-color: #F5E0A5;
    box-shadow: 0px 2px 8px #a8795a;
}
.psi-card-container{
    height: 450px; 
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.card-psi-div-3{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 30px 200px 100px;
}

.card-psi-div-3-item{
    display: flex;
    color: black;
}

.card-psi-perfil{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 50% 50%;
    padding-top: 1em;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
}

.card-psi-body{
    height: 155px; 
    padding-top: 1.2em;

}
.card-psi-body a{
    padding-left: 15px; 

}
.card-psi-body div{
    padding-left: 15px; 
    padding-right: 15px;
}

.psi-foto-perfil{
    display: flex;
    justify-content: center;
    height: 170px;

}

.psi-info{
    padding-left: 1em; 
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    align-content: center;

}

.psi-foto-perfil img {
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid #ffffff;
    height: 155px;
    width: 155px
}