*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color:#000;
}
:root{
    --color-01:#F8A764;
    --color-01-hover:#f59444;
    --color-02:#F5E0A5;
    --color-03:#1C5841;
    --color-04:#00AD6E;
    --color-05:#D46240;
    --font-01:#FFFFFF;
    --font-02:#16120D;
    --btn-alerta:#8D2000;
}
/* Search bar section -------------- */
section{
    margin:30px;
}
.grid-container{
    margin:25px auto;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width:1100px;
}
.grid-psi{
    padding-bottom:30px;
    border-bottom: 1px solid #000;
    gap:20px;
    display:flex;
    flex-wrap: wrap;
    margin:0px 30px;
    width:100%;
}
.search-boxes{
    border-radius:12px;
    background-color: #ffffff;
    justify-content: space-between;
    display: flex;
    border:1px solid #1f1f1f;
    width:81%;
}
@media(max-width:1010px){
    .search-boxes{
        width:100%;
    }
}
.search-boxes input{
    padding:0.5rem 1rem;
    border-radius:10px;
    padding-right: 2.5rem;
    position: relative;
    outline:none;
    border:none;
    width:100%;
}
.search-boxes button{
    background: var(--color-04);
    border-top-right-radius:11px;
    border-bottom-right-radius: 11px;
    width:40px;
}
.btn-searchBar img{
    width:20px;
    height:20px;
    object-fit:cover;
    cursor: pointer;
}
.btn-searchBar{
    border:none;
}

/* Filtro --------------------------- */
div.col-2{
    padding:0;
}
.hm-btn-buscar {
    position: relative;
    font-size: medium;
    font-weight: 500;
    padding: 0.6em 1em;
    border-radius: 0.4em;
    border: none;
    color: var(--font-01);
    background-color: #1C5841;
    transition: background-color 0.1s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width:175px;
}
.hm-btn-buscar:hover {
    background-color: var(--color-04);
    transition: background-color 0.25s;
}
.checkbox{
    position: absolute;
    width: 176px;
    background: #1C5841;
    display: flex;
    flex-direction: column;
    top: 110%;
    display: none;
    padding:6px;
    padding-left:0;
    border-radius:10px;
    z-index:100;
}
#filtro-checkbox {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    display: block;
    cursor: pointer;
}
#filtro-checkbox.show {
    transform: scaleY(1);
    opacity: 1;
}
#seta-checkbox {
    filter: invert();
    transition: transform 0.3s ease;
    width:28px;
    height:28px;
    margin-bottom:-1px;
}
.checkbox-input input{
    display: none;
    cursor: pointer;
}
.checkbox-input input + label:before{
    content: '';
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: 0;
    right: 3%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--color-04);
}
.checkbox-input input:checked + label:before{
    background-color: var(--color-04);
    transition: 80ms;
}
.checkbox-input{
    cursor: pointer;
}
.titulo-checkbox{
    font-size: 80%;
    padding: 0.5rem;
    margin: 0;
    color: #ffffff;
    font-family: 'poppins';
    width: 100%;
    cursor: pointer;
}

/* Cards de psicologos ----------------- */
.grid-psi{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin:20px;
    width: auto;
    justify-content: center;
}
.grid-psi:nth-child(1){
    justify-content:flex-start;
}
.card-psi div{
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    background-color:#FFF2CC;
}
div.card-psychologist{
    width:450px;
    height:200px;
}
div.general-info{
    padding:25px;
    gap:10px;
    display: flex;
    height:100%;
}
div.infos-psi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.infos-psi h1{
    font-size: 1.3rem;
    font-weight: 600;
}
.infos-psi p{
    font-size: .8rem;
    margin:4px 0;
}
.hm-btn-ver{
    font-size: 1.2rem;
    background-color: var(--color-05);
    border:none;
    color:var(--font-01);
    padding:5px 10px;
    border-radius: 10px;
    width:100px;
    margin:4px 0;
}
.hm-btn-ver:hover{
    background-color: var(--color-01-hover);
    cursor: pointer;
}
div.tags{
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
    width:150px
}
a.hm-psi-stats{
    background-color: var(--color-03);
    font-size: .7rem;
    color: var(--font-01) !important;
    border-radius:5px;
    padding:2px 4px;
}
.psi-foto-perfil{
    width:170px;
    height:100%;
}
.psi-foto-perfil img{
    width:100%;
    height: 100%;
    object-fit:cover;
    border-bottom-right-radius:10px;
    border-top-right-radius: 10px;
}
/* Responsividade Cards-Psicologos-----------*/
@media(max-width:500px){
    div.card-psychologist{
        width:300px;
        height:100%;
    }
    .psi-foto-perfil{
        width:220px;
        height: 100%;
    }
    div.general-info{
        flex-wrap: wrap;
        padding:15px;
    }
    .card-psi div{
        justify-content:flex-start;
    }
    .hm-btn-ver{
        font-size: 1rem;
        padding:2px;
        width:70px;
    }
    .infos-psi h1{
        font-size: 1.1rem;
    }
}

/* pop-up-psicologos------------------------ */
/* Adicione este overlay */
.container-pop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    display: flex;
    justify-content: center;
    padding: 20px;
    backdrop-filter: blur(2px);
    overflow-y: auto;
    height:100vh;
    width:100%;
}

.container-pop-up-agendarConsulta {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFF0C8;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px -5px #3a3a3a;
    z-index: 100;
    height:max-content;
} 
.container-imagem-info{
    display: flex;
    flex-direction: row;
    margin: 10px ;
    gap: 20px;
}
.infos-pop-up{
    display: flex;
    width:100%;
    justify-content: space-between;
}
#pop-up-name{
    font-size:2rem;
}
#pop-up-img{
    width: 170px;
    border-radius: 15px;
}
.container-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
#pop-up-fechar{
    background: none;
    border: none;
    margin: 10px;
}
.pop-up-img-fechar{
    filter: invert();
    width: 15px;
}
.pop-up-img-fechar:hover{
    cursor: pointer;
    filter:none;
    transition: filter 0.2s;
}
.container-sobre-mim{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
#pop-up-sobre-mim{
    background-color: var(--font-01);
    height: 100px;
    border-radius: 10px;
    border: none;
    outline: none;
    vertical-align: top;
    text-align: left;
    padding: 4px 8px;
    border: 1px solid #2b2b2bc0;
}
.container-abordagens{
    display: flex;
    gap: 10px;
    margin:0 10px;
}
.container-especialidades{
    width: 100%;
}
#pop-up-especialidades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}
#pop-up-especialidades li{
    position: relative;
    margin: 0.2em;
    padding: 3px 6px;
    border-radius: 5px;
    color: white;
    background-color: var(--color-03);
    transition: background-color 0.2s;
    list-style: none;
}
#pop-up-especialidades li:hover {
    cursor: pointer;
    background-color: var(--color-04);
}
.container-consultas{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--font-01);
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #2b2b2bc0;
    margin-bottom: 1rem;
}
.container-mes{
    gap: 10px;
    display: flex;
    flex-direction: row;
    margin: 8px 0;
}
#mesAtual{
    font-size: 2rem;
    margin:10px;
}
.container-mes button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.seta-esquerda{
    rotate: 180deg;
}
.container-card-horarios{
    width: 100%;
}
.card-horarios{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom:10px;
    margin-inline: 1rem;
}
.card-horarios input{
    width: 15px;
}
.card-horarios span{
    width: max-content;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex: 1;
}
.checkbox-horarios:checked ~ span{
    background: var(--color-04);
}
.container-agendar{
    display: flex;
    justify-content: end;
    margin: 10px;
    gap: 25px;
    align-items: center;
}
.tempo-consulta{
    width: max-content;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.btn-agendar{
    font-size: 1.2rem;
    background-color: var(--color-04);
    border:none;
    color:var(--font-01);
    padding:5px 10px;
    border-radius: 10px;
    width:100px;
    margin:4px 0;
}
.btn-agendar:hover{
    background-color: var(--color-01-hover);
    cursor: pointer;
}











/* responsividade pop-up----------------------------- */
@media(max-width:800px){
    .container-pop-up-agendarConsulta{
        width: 500px;
    }
}
@media(max-width:500px){
    .container-pop{
        padding:0;
        overflow-y: auto;
    }
    .container-pop-up-agendarConsulta{
        width: 100%;
        height:100%;
        border-radius: 0;
        border: none;
        margin: 0;
        height:100vh;
    }
    .pop-up-img-fechar{
        width: 15px;
    }
    #pop-up-img{
        width: 120px;
    }
    .container-info span{
        font-size: 15px;
    }
    .container-info h1{
        font-size: 25px;
    }
    .container-abordagens{
        flex-direction: column;
    }
    .container-especialidades{
        width: 100%;
    }
}