*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
:root{
    --color-01:#F8A764;
    --color-01-hover:#f59444;
    --color-02:#F5E0A5;
    --color-03:#1C5841;
    --color-04:#00AD6E;
    --color-05:#D46240;
    --font-01:#FFFFFF;
    --font-02:#16120D;
}
section.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
}
/* Perfil - lado esquerdo -----------------------*/
.card-perfil-main {
    background-color: var(--color-03);
    width:420px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
}
.card-perfil-content{
    display: flex;
    flex-direction: column;
    color: white;
    margin:20px 10px;
}
.card-perfil-settings{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    height:100%;
    color:var(--font-01)
}
.foto-perfil img {
    border-radius: 100%;
    width: clamp(120px, 20vw, 170px);
    margin-bottom:20px;
}
#cell-n, .configuracao a {
    font-size:clamp(0.9rem, 2vw, 1rem);
}
#perfilNome{
    font-size:clamp(1.1rem, 4vw, 1.4rem);
}
.contato{
    display:flex;
    align-items: center;
    gap:10px;
}
.contato button{
    border:none;
    background-color: var(--color-04);
    padding:5px;
    border-radius: 50%;
    cursor:pointer
}
.contato button:hover{
    background-color: var(--color-05);
}
.configuracao{
    border:none;
    border-radius: 10px;
    background-color: var(--color-04);
    padding:8px 20px;
    margin:10px;
}
.configuracao:hover{
    background-color: var(--color-05);
}
.configuracao a{
    color:var(--font-01);
    text-decoration: none;
}
.configuracao a:hover{
    color:var(--font-01);
    text-decoration: none;
}
/* Áreas de apresentação do usuário ------------------*/
.container-perfil-row-2{
    width:100%;
}
.infos{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin:0 30px 20px 30px;
}
div.card-sobre-container{
    width:100%;
    font-size: 1rem;
    min-height:100px;
    border-radius: 10px;
    border:1px solid #666666;
}
div.card-info-container h3{
    font-size: 1.1rem;
}

/* Perfil - Notificações -------------------------*/
.card-notif-container {
    display: flex;
    width: 420px;
    flex-direction: column;
    border-radius:10px;
    background-color: var(--color-01-hover);
    padding:15px;
    margin:20px;
    margin-left:0;
    overflow:hidden;
}
.notificacoes{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin:20px 0;
    overflow-Y:scroll;
    height:610px;
    padding-right:10px;
    scrollbar-width: thin;
    border-radius: 5px;
}
.notif-titulo {
    font-size: 1.1rem;
    color:var(--font-01)
}
.card-notif-session {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--font-01);
    height: 100%;
    border-radius:5px;
    padding: 10px;
    font-size: 1rem;
}
.card-notif-btn{
    border:none;
    background-color: var(--color-04);
    padding:2px 10px;
    border-radius: 5px;
    color:var(--font-01)
}
.card-notif-btn:hover{
    background-color: var(--color-03);
    cursor: pointer;
}
.notificacoes::-webkit-scrollbar {
    width:12px;
}

/* Responsividade */

@media(max-width:946px){
    section.section{
        width:100%;
        flex-direction: column;
    }
    .card-perfil-main{
        width:100%;
        border-radius: 0;
        align-items: flex-start;

    }
    .card-perfil-content, .card-perfil-settings{
        flex-direction: row;
        gap:25px;
    }
    .card-perfil-content{
        align-items: center;
    }
    .card-perfil-settings{
        display:flex;
        width:100%;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end ;
    }
    .foto-perfil img, .configuracao{
        margin:0;
    }
    .info{
        margin:0 10px
    }
    .card-notif-session{
        height: 100%;
    }
    .card-notif-container{
        margin:20px 20px;
        width:90%;
        align-self:center;
    }
    .notificacoes{
        height:100%;
    }  
}